section {
  padding: 20px 0px;
}

#hero {
  width: 100%;
  height: 30vh;
}
#whyUs {
  width: 40%;
  float: left;
}
#callToAction {
  width: 60%;
  float: left;
}
@media (max-width: 800px) {
  #whyUs {
    width: 100%;
  }
  #callToAction {
    width: 100%;
  }
}
