header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: beige;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

#logo {
  height: 100px;
}

#account {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 200px;
  background-color: aquamarine;
}

#login {
  position: absolute;
  top: 40px;
  right: 80px;
}

nav {
  position: absolute;
  left: 400px;
  top: 40px;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: beige;
  height: 80px;
}

#copyright {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

@media (max-width: 1200px) {
  #account {
    display: none;
  }
  nav {
    left: 200px;
  }
}

@media (max-width: 840px) {
  #logo {
    display: none;
  }
  nav {
    left: 100px;
  }
  li {
    margin: 20px;
  }
}
