section {
  width: 50%;
  float: left;
  height: 100vh;
}

#asset-focus {
  background-color: lawngreen;
}

#asset-list {
  background-color: goldenrod;
}

@media (max-width: 700px) {
  section {
    width: 100%;
    height: unset;
  }
}
@media (max-width: 700px) {
  nav {
    left: 100px;
  }
  li {
    margin: 20px;
  }
}
