header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: beige;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

main > .container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#logo {
  width: 100%;
  grid-column: 1;
}

#account {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  grid-column: 2;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: beige;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#copyright {
  margin: 20px;
}

@media (min-width: 701px) {
  #burger {
    display: none;
  }
}
@media (max-width: 700px) {
  nav {
    display: none;
  }
  #account {
    display: none;
  }
  #burger {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    padding-bottom: 0px;
  }
  footer {
    position: unset;
  }
}
